<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Two Factor QR Code</title>
  </head>
  <body>
    <h1>Scan this QR Code with Google Authenticator or similar:</h1>
    <img src="<%= qrCode %>" alt="">

    <form class="" action="/verify-two-factor-code" method="post">
      <label for="twoFactorToken">Enter your two factor code</label>
      <input type="number" required name="twoFactorToken" id="twoFactorToken" value="">
      <input type="email" name="email" hidden name="" value="<%= email %>">
      <button type="submit" name="button">Verify!</button>
    </form>
  </body>
</html>
